body {
    background-image: url("images/Fundo.jpg");
    background-repeat: no-repeat;
	background-size: cover;
}

.modules {
	border-style: dashed;
	padding: 10px;
	width: 48px;
	heigth: 48px;
}

table {
	text-align: center;
	background-color: lightgreen;
	border-style: solid;
	border-width: thin;
}
